includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9
    paths:
        - src
        - tests
        - config
        - public/index.php

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    scanDirectories:
        - var/cache/dev/Symfony/Config

    # Doctrine settings
    # doctrine:
    #    objectManagerLoader: tests/object-manager.php

    excludePaths:
        - vendor
        - var
